fieldset {
	width: 200px;
}

fieldset p {
	width: 150px;
}

textarea {
	width: 150px;
	height: 50px;
}

/*.counter { counter-reset: listing; }
pre { counter-increment: listing; }
.counter pre:before { content: counter(listing) ". "; color: gray; }
.counter pre b {width:25px;display:block;float:left;}*/