fieldset {
	width: 97%;
}

input {
	width: 100%;
}

textarea {
	width: 100%;
	height: 50px;
}

textarea.result {
	margin-top: -25px;
	height: 100px;
}

footer {
	font-size: small;
}

.row {
	margin-left: 0px;
}

header {
	margin-bottom: 30px;
}

footer {
	margin-top: 50px;
}

.container {
	width: 500px;
}