<!DOCTYPE HTML>
<html lang="en">
<head>
	<link type="text/css" href="/static/bootstrap.min.css" rel="stylesheet" />
	<link type="text/css" href="/static/base.css" rel="stylesheet" />
	<script type="text/javascript" src="/static/jquery.min.js"></script>
	<script type="text/javascript" src="/static/bootstrap.min.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>DEShi</title>
</head>

<body>
	<div class="container">
		<header>
			<h1>DEShi</h1>
			<p>Simple DES with 16-bit keylen</p>
		</header>
		<div class="row">

			{% if error %}
			<div class="alert alert-error">
  				<button type="button" class="close" data-dismiss="alert">&times;</button>
  				{{error}}
			</div>
			{% endif %}

			<ul class="nav nav-tabs">
				<li{% if typ == "" or typ == "encrypt" %} class="active"{% endif %}>
					<a href="#encrypt" data-toggle="tab">Encrypt</a>
				</li>
				<li{% if typ == "decrypt" %} class="active"{% endif %}>
					<a href="#decrypt" data-toggle="tab">Decrypt</a>
				</li>
			</ul>

			<div class="tab-content">
				<section id="encrypt" class="tab-pane{% if typ == "" or typ == "encrypt" %} active{% endif %}">
					<article>
						<form method="POST" action="">
							<fieldset>
								<legend>Encryption</legend>
								<p>
									<label for="key">Key (16-bit):</label>
									<input type="text" name="key" maxlength="2" value="{{ key }}" id="key" />
								</p>
								<p>
									<label for="message">Plain text message:</label>
									<textarea name="message" id="message">{{ message }}</textarea>
								</p>
								<p>
									<input class="btn btn-primary" type="submit" name="type" value="Encrypt" />
								</p>
							</fieldset>
						</form>
					</article>
				</section>

				<section id="decrypt" class="tab-pane{% if typ == "decrypt" %} active{% endif %}">
					<article>
						<form method="POST" action="">
							<fieldset>
								<legend>Decryption</legend>
								<p>
									<label for="key">Key (16bit):</label>
									<input type="text" name="key" value="{{ key }}" id="key" />
								</p>
								<p>
									<label for="message">Cyphertext (hex):</label>
									<textarea name="message" id="message">{{ cypher }}</textarea>
								</p>
								<p>
									<input class="btn btn-primary" type="submit" name="type" value="Decrypt" />
								</p>
							</fieldset>
						</form>
					</article>
				</section>
			</div>

			{% if cypher and typ == "encrypt" %}
				<section>
					<article>
						<header>
							<h3>Ciphertext (hex)</h3>
						</header>
						<textarea class="result" readonly onclick="$(this).select()">{{ cypher }}</textarea>
					</article>
				</section>
			{% endif %}

			{% if message and typ == "decrypt" %}
				<section>
					<article>
						<header>
							<h3>Plain text</h3>
						</header>
						<textarea class="result" readonly onclick="$(this).select()">{{ message }}</textarea>
					</article>
				</section>
			{% endif %}

		</div>
		<footer>
			<em>DEShi - CRY Assignment 1.k - Group A</em>
		</footer>
	</div>
</body>

</html>