<!DOCTYPE HTML>

<html>
<head>
	<link type="text/css" href="/static/base.css" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>DEShi</title>
</head>

<body style="width:500px">
	<header>
		<h1>DEShi</h1>
		<p>Simple DES with 16bit keylen</p>
	</header>

	<section style="float:left;">
		<article>
			<form method="POST" action="">
				<fieldset>
					<legend>Encryption</legend>
					<p>
						<label for="key">Key (16bit):</label>
						<input name="key" value="{{ key }}" id="key" />
					</p>
					<p>
						<label for="message">Plain text message:</label>
						<textarea name="message" id="message">{{ message }}</textarea>
					</p>
					<p>
						<input type="submit" name="type" value="Encrypt" />
					</p>
				</fieldset>
			</form>
		</article>
	</section>

	<section style="float:right;">
		<article>
			<form method="POST" action="">
				<fieldset>
					<legend>Decryption</legend>
					<p>
						<label for="key">Key (16bit):</label>
						<input name="key" value="{{ key }}" id="key" />
					</p>
					<p>
						<label for="message">Cypher text message:</label>
						<textarea name="message" id="message">{{ cypher }}</textarea>
					</p>
					<p>
						<input type="submit" name="type" value="Decrypt" />
					</p>
				</fieldset>
			</form>
		</article>
	</section>

	<br style="clear:both" />

	{% if cypher %}
		<section>
			<article>
				<header>
					<h3>Ciphertext</h3>
				</header>
				<textarea>{{ cypher }}</textarea>
			</article>
		</section>
	{% endif %}

	{% if message %}
		<section>
			<article>
				<header>
					<h3>Plain text</h3>
				</header>
				<textarea>{{ message }}</textarea>
			</article>
		</section>
	{% endif %}

	<footer>
		<em>DEShi - CRY Assignment 1.k</em>
	</footer>

</body>

</html>